.env
.env.local
.env.*
secrets.json

__pycache__/
*.py[cod]
*$py.class

# 가상환경 (venv, conda 등)
venv/
env/
.venv/
.env/
anaconda3/
miniconda3/

# 로그 파일
*.log

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

node_modules/
frontend/node_modules/

# 빌드 결과물
dist/
build/
frontend/dist/

results/
backend/results/

# 임시 생성된 오디오/비디오 파일들
*.mp3
*.mp4
temp_*
backend/temp_*



.DS_Store
Thumbs.db
.vscode/
.idea/